body {
	font-family: 'Exo 2', sans-serif;
	border-radius: 5px 5px 0px 0px;
	color: #FFFFFF;
	background: #000000;
	font-size: 11pt;
	margin: 0px;
}

.pageBody {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}

.pageHeader {
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #000000;
	padding: 4px 8px 0px 8px;
	background-color: #151b26;
}

b {
	color: #BDBD8C;
	letter-spacing: -4px;
}

b:hover {
  cursor: default;
}

.pageHeaderText {
	position: relative;
    display: inline-block;
	text-align: left;
	top: -4px;
}

.cardHeader {
	margin: 0px;
	padding: 5px;
	font-size: 12pt;
	text-align: center;
	color: #BDBD8C;
	border-bottom: 1px solid #000000;
	background-color: #262b37;
}
.card {
	padding: 20px;
	border-bottom: 1px solid #000000;
	background-color: #151b26;
}

h2 {
	margin: 0px;
}

A:link {
  text-decoration: none;
  color: #BDBD8C;
}

A:hover {
  text-decoration: none;
  color: #FFFFFF !important;
}

A:visited {
  text-decoration: none;
  color: #BDBD8C;
}

@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {	 
	width: 100%;
	padding: 0;
	}
}