html 
{
	overflow: -moz-scrollbars-none !important;
	-ms-overflow-style: none !important;
		scrollbar-width: none !important;
}
body
{
	background-color: #1e1e1e;
	color: white;
	font-family: 'Prompt';
	letter-spacing: 1px;
	overflow: auto;
}
html::-webkit-scrollbar
{
	display:none !important;
}
input.accordion
{
	font-family: 'Prompt';
	text-shadow: 0 0 5px #868686, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 55px #000, 0 0 75px #000;
	width: 800px;
	height: 200px;
	background-color: transparent;
	background-size: 900px 420px;
	background-position: center;
	background-origin: border-box;
	border: 4px solid #9559c8;
	border-radius: 4px;
	font-size: 36px !important;
	color: white; 
	box-shadow: 5px 5px 5px #00000085;
}
input.accordion:hover
{
	cursor:pointer;
}
.tabcontent
{
	
	background-color: #1e1e1e;
	max-height: 0;
	max-width: 800px;
	color: white;
}
.bodyContainer
{
	margin-left: auto;
	margin-right: auto;
	text-shadow: 2px 2px 2px black;
	width: 800px;
	height: auto;
	max-height: 1080px;
	color: white; 
}
#content
{
	
	padding-bottom: 25px;
	background-color: #1e1e1e;
	max-height: 0;
	max-width: 800px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	color: #9559c8;
}

.measuringWrapper 
{
	box-shadow: 4px 4px solid black;
	margin-top: -20px;
	overflow: hidden;
	border-radius: 4px;
	transition: height 200ms;
	color: white;
}
h6 
{
	width: 100%;
	border-bottom: 1px white solid;
}
h5
{
	margin: 0;
	padding: 0;
}
img
{
	width: 392px;
	transition: transform .2s;
}
img:hover
{
	width: 392px;
	transform: scale(1.02);
	cursor:pointer;
}
#snow
{
	position:fixed;
	z-index:-1;
	width: 100%;
	height: 100%;
}
.tabLinks 
{
	float: left;
	margin-right: 10px !important;
	margin-top: -20px !important;
	margin-bottom: -20px !important;
	align-items: center;
	background-color: #1e1e1e;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.tabLinks:hover
{
	color: white;
	background-color: #9559c8;
}